<!DOCTYPE html>
<html>
<head>
    <title>Test project</title>
    <meta charset="utf-8">
    <link href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
</head>
<body>
<h2 class="text-center">Test Project</h2>
<div style="margin-top: 20px; margin-left: 30px;">
    <form role="form" action="{% url 'parse' %}" method="post">{% csrf_token %}
        <div class="form-group">
            <label for="disabledTextInput">Input url please </label>
            <input type="url" name="url" class="form-control" placeholder="For example: http://events.dev.by/rss"
                   style="width:500px; ">
        </div>
        <button type="submit" class="btn btn-primary">Parse</button>
    </form>
    <hr>
    <h3 class="text-center">Parsed data</h3>
    <hr>
    {% for data in parsed_data %}
    <div class="row">
        <div class="col-md-4">{{ data.title }}</div>
        <div class="col-md-7">{{ data.description }}</div>
    </div>
        &nbsp
    {% endfor %}
</div>
</body>
</html>